.Card
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
    height: 7rem;
    margin: 1rem 1%;
    padding: 1rem;
 
    background-color: $CARD_BACK_TODO;
    box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.36);
    border-radius: 9px;
    border-left: 10px solid $LARANJA;
 
    a { color: white };
}
