*
{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;

    border: none;

    text-decoration: none;
}

:root
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $FUNDO;
    color: $FONT;
}
